

.task-board{
    
    width:100vw;
    max-width: 400px;
    background-color: rgb(0, 0, 0, .1);
    text-align:left;    
    margin:5px;
}
.task-board h3{
    margin:0px;
    width:79%;
}

.placeholderTitle{
    opacity:.7;
}

.board-title-input{
    padding:0px;
    margin:0px;
    font-weight:700;
    font-size:1.17em;
    width:79%;
}
div.card-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}



@media only screen and (max-width: 450px) {
    .task-board{
        max-width:75vw;
    }
} 