<ng-container *ngIf='data$ | async as task'>
    <div class='exit-row max-secondary-dialog-width'>
        <h3>Attach a file</h3>
        <button mat-icon-button (click)='onCloseDialog()'><mat-icon>clear</mat-icon></button>
    </div>
    
    <input type='file' id='attachment-upload-input' multiple (change)='getFile($event, task)' />
    <div *ngFor='let file of task.attachedFiles; index as i' class='attachment-download'>
        <p>{{file.name}}</p>
        <span>
            <a [download]='file.name' [href]='file.link' mat-icon-button><mat-icon class='material-icons'>get_app</mat-icon></a>
            <button mat-icon-button (click)='removeFile(i, task)'><mat-icon class='material-icons'>delete</mat-icon></button>
        </span>
    </div>
</ng-container>


