<export-button *ngIf='beginDataExport' [exportData]='exportData' title='app_state' (linkHasBegunDownload)='downloadLinkLoads()'></export-button>
<mat-toolbar color='primary'>
  <mat-toolbar-row class='toolbar-row'>
    <button mat-flat-button (click)='saveChanges()'><mat-icon>save</mat-icon>Save</button>
    <button mat-button (click)='addRow()'>Add Row</button>
    <button mat-button (click)='accordion.closeAll()'>Close All</button>
    <button mat-button (click)='accordion.openAll()'>Open All</button>
    <button mat-button (click)='openArchivedItemsDialog()'>Archived Items</button>
    <button mat-flat-button (click)='exportAppState()'>Export App State</button>
    <button mat-flat-button (click)='beginAppStateImport()'>Import App State</button>
    <button mat-icon-button (click)='toAccountPage()'><mat-icon>settings</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-accordion #accordion='matAccordion' multi='true'>
  <row *ngFor='let row of row$ | async' [rowData]='row' [accordion]='accordion'></row>
</mat-accordion>

<div class='loading-message' *ngIf='isStateLoading$ | async'>
  <mat-spinner></mat-spinner>
  <h1>Loading App Data</h1>
</div>

<footer>
  <span *ngIf='(dataSaved$ | async) as dataSaved'>Saved</span>
  <span *ngIf='!(dataSaved$ | async)'>Unsaved Changes</span>
  
  <span class='running-count'>
    <span>Rows: {{rowCount$ | async}}</span>
    <span>Boards: {{boardCount$ | async}}</span>
    <span>Tasks: {{taskCount$ | async}}</span>
  </span>
</footer>

<input id='importAppState' type='file' style='display:none;' (change)='importAppState($event)' />