<mat-toolbar >
    <mat-toolbar-row class='toolbar-row'>
      <a id='home-link' [routerLink]='["/"]'>row-board-task</a>

      <span>
          <a mat-button [routerLink]='["/features"]'>Features</a>
          <a mat-stroked-button [routerLink]='["/login"]'>LOGIN</a>
      </span>
      
    </mat-toolbar-row>
</mat-toolbar>


<div class='row'>
    <div class='item-wrapper'>
        <mat-card>
            <h1>Organize your life in two dimensions</h1>
            <h3>Track notes, files, tasks, events in a multi-row kanban board application</h3>
        </mat-card>
        <img mat-card-img alt='screenshot depicting a row with tasks in the application' src='https://raw.githubusercontent.com/blake-buck/row-board-task/master/client/src/assets/readme_image_one.png' />
    </div>
</div>

<div class='row alternate'>
    <div class='item-wrapper'>
        <img mat-card-img alt='screenshot depicting a task dialog in the application' src='https://raw.githubusercontent.com/blake-buck/row-board-task/master/client/src/assets/readme_image_two.png' />
        <mat-card>
            <h1>Customize tasks to your hearts content</h1>
            <h3>Add tags, labels, due dates, and more!</h3>
        </mat-card>
    </div>
</div>

<div class='row'>
    <div class='item-wrapper'>
        <mat-card>
            <h1>Interested? Click here to sign up.</h1>
            <a mat-flat-button color='primary' href='https://blakebuck.typeform.com/to/hvCFo1UR' target='_blank'>Sign up</a>
        </mat-card>
        <img mat-card-img alt='screenshot depicting a task dialog in the application' src='https://raw.githubusercontent.com/blake-buck/row-board-task/master/client/src/assets/readme_image_two.png' />
    </div>
</div>

<!-- <mat-card>
    <h2>Example task dialog</h2>
</mat-card>
<mat-card>
    <h2>Feature List</h2>
    <mat-list>
        <mat-list-item>Kanban style task tracking on multiple rows</mat-list-item>
        <mat-list-item>Variety of options for styling tasks including icons, labels, card color, etc</mat-list-item>
        <mat-list-item>Can attach display photos and files to tasks</mat-list-item>
        <mat-list-item>Can add checklists and due dates to tasks</mat-list-item>
        <mat-list-item>Can sort tasks by alphabetically, date created, creation, etc</mat-list-item>
    </mat-list>
</mat-card>

<mat-card>
    <h2>Built With</h2>
    <mat-list>
        <mat-list-item>Angular v8.0.0</mat-list-item>
        <mat-list-item>Node v10.15.3 with NestJS v7.0.0</mat-list-item>
        <mat-list-item>MongoDB Atlas v4.2.9</mat-list-item>
        <mat-list-item>Authentication provided by Amazon Cognito</mat-list-item>
        <mat-list-item>File storage provided by AWS S3</mat-list-item>
        <mat-list-item>Hosted on AWS Lightsail</mat-list-item>
        <mat-list-item><a href='https://github.com/blake-buck/row-board-task'>Link to GitHub repository</a></mat-list-item>
    </mat-list>
</mat-card>     -->