<mat-toolbar color='primary'>
    <mat-toolbar-row class='toolbar-row'>
        <button mat-icon-button (click)='toKanban()'><mat-icon alt='go back'>keyboard_backspace</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<div class='card-holder'>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Change Account Password</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form id='changePassword' (submit)='changePassword($event)'>
                <mat-form-field>
                    <input type='password' (keyup)='changeForm($event, "changePassword", "previousPassword")' matInput placeholder='Current Password' />
                </mat-form-field>
                <mat-form-field>
                    <input type='password' (keyup)='changeForm($event, "changePassword", "proposedPassword")' matInput placeholder='New password' />
                </mat-form-field>
                <mat-form-field>
                    <input type='password' (keyup)='changeForm($event, "changePassword", "confirmPassword")' matInput placeholder='Confirm new password' />
                </mat-form-field>
            </form>
            
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color='primary' type='submit' form='changePassword'>CHANGE PASSWORD</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Delete Account</mat-card-title>
            <mat-card-subtitle>Type "delete" to confirm</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form (submit)='deleteAccount($event)' id='deleteAccount'>
                <mat-form-field>
                    <input (keyup)='changeForm($event, "deleteAccount", "delete")' matInput placeholder='' />
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color='warn' type='submit' form='deleteAccount'>DELETE</button>
        </mat-card-actions>
    </mat-card>
</div>