<div class='dialog-wrapper' *ngIf='data$ | async as data'>
    <div class='dialog-title'>
        
        <div class='dialog-body' *ngIf='!isEditingBody' (click)='toggleInput("isEditingBody", "isEditingBodyFocused", $event, data)'>
            <h1 [ngClass]='{"complete":data.isComplete}'>{{data.body}}</h1>
            
            <h1 *ngIf='!data.body' style='opacity:.7;'>Card Title...</h1>
        </div>

        <form (submit)='toggleInput("isEditingBody", "isEditingBodyFocused", $event, data)' *ngIf='isEditingBody'>
            <mat-form-field>
                    <input #bodyInput matInput (hover)='onBodyInputLoad()' (focusout)='toggleInput("isEditingBody", "isEditingBodyFocused", $event, data)' [value]='data.body' (keyup)='changeTaskProperty("body", $event.target.value, true, data)'/>
            </mat-form-field>
        </form>

        <div class='due-date' *ngIf='data.dueDate'>
            <h4>Due {{data.dueDate.fromNow()}} on {{data.dueDate.format('dddd, MMMM Do YYYY')}} </h4>
        </div>

        <div>
            <mat-icon *ngIf='data.important'>visibility</mat-icon>
            <mat-icon *ngIf='data.warning'>warning</mat-icon>
            <mat-icon *ngIf='data.payment'>payment</mat-icon>
            <mat-icon *ngIf='data.vacation'>weekend</mat-icon>
            <mat-icon *ngIf='data.attachment'>attach_file</mat-icon>
            <mat-icon *ngIf='data.social'>group</mat-icon>
            <mat-icon *ngIf='data.work'>work</mat-icon>
            <mat-icon *ngIf='data.travel'>local_airport</mat-icon>
        </div>

        <div class='label-row'>
            <p class='label' *ngFor='let label of data.labels; index as i' style ='font-weight:bold; color:white' [style.background]='label.background'>
                <input maxlength='20' [value]='label.text' [style.background]='label.background' [size]='label.text.length ? label.text.length : 1' (keyup)='changeLabelContent($event, label, data)' (focusout)='saveLabelContent(data)'/>
                <mat-icon (click)='removeLabel(i, data)'>clear</mat-icon>
            </p>
        </div>
        
    </div>

    <div class='dialog-exit'>
        <button mat-icon-button (click)='onCloseDialog(data)'>
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    
    <div class='dialog-description'>
        <div class='rowAndBoard' *ngIf='(boardAndRowTitle$ | async) as boardAndRowTitle'>
            <p>Row:   {{boardAndRowTitle.rowTitle}}</p>
            <p>Board: {{boardAndRowTitle.boardTitle}}</p>
        </div>
        

        <div class='dialog-description-title'>
            <h3>Description</h3>
            <button mat-icon-button (click)='toggleInput("isEditingDescription", "isEditingDescriptionFocused", $event, data)'>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        
        <p *ngIf='!isEditingDescription'>{{data.description}}</p>
        <mat-form-field *ngIf='isEditingDescription'>
            <textarea matInput (focusout)='toggleInput("isEditingDescription", "isEditingDescriptionFocused", $event, data)' (keyup)='changeTaskProperty("description", $event.target.value, true, data)' cdkTextareaAutosize #autosize="cdkTextareaAutosize" #descriptionInput cdkAutosizeMinRows="4" [value]='data.description'></textarea>
        </mat-form-field>
    </div>



    <div class='dialog-comments'>
        <h3>Comments</h3>
        <div *ngFor='let comment of data.comments' class='dialog-individual-comment'>
            <span>
                <p>{{comment.date}}</p>
                <button mat-icon-button (click)='deleteComment(data, comment)'><mat-icon>clear</mat-icon></button>
            </span>
            <h4>{{comment.content}}</h4>
            
            
        </div>
    
        <textarea rows='3' placeholder='Write a note here...' [value]='commentContent' (keyup)='changeCommentContent($event, data)'></textarea>
        
        <div class='dialog-comments-actions'>
            <button mat-raised-button (click)='addComment(data)'>Add</button>
        </div> 
    </div>
    <div class='dialog-other'>
        <h3>Other Stuff</h3>
        <div >
            <h4 *ngIf='data.displayImageUrls.length'>Display Image(s)</h4>
            <img *ngFor='let imageUrl of data.displayImageUrls' [src]='imageUrl' style='max-width:250px;max-height:250px;'/>
        </div>

        <div *ngFor='let checklist of data.checklists' class='dialog-checklist'>
            <div class='dialog-checklist-title-wrapper'>
                <mat-icon [style.color]='checklist.color'>check_box</mat-icon>
               
                <input #checklistTitle *ngIf='checklist.title.isEditing' placeholder='Checklist title...' (keyup)='changeChecklistTitle($event, checklist.key, data)' [value]='checklist.title.content' (focusout)='toggleEditChecklistTitle(checklist.key, data)' />
                <button *ngIf='checklist.title.isEditing' mat-icon-button (click)='deleteChecklist(checklist, data)'><mat-icon>delete</mat-icon></button>
                
                <h4 *ngIf='!checklist.title.isEditing' (click)='toggleEditChecklistTitle(checklist.key, data)'>{{checklist.title.content}}</h4>
                <h6 *ngIf='!checklist.title.isEditing'>{{checklist.completedTasks}} / {{checklist.content.length}}</h6> 
            </div>
            
            <div *ngFor='let item of checklist.content; index as i' class='dialog-checklist-item'>
                <mat-checkbox 
                    *ngIf='!item.isEditing' [checked]='item.checked' (change)='toggleChecklistItem($event,checklist.key, item, data)' 
                    draggable="true" (dragstart)='onChecklistItemDragStart($event, item, data)' (dragover)='onChecklistItemDragOver($event, data)' (drop)='onChecklistDrop($event, item, data)'>
                        <div class='dialog-checklist-item-content' (click)='toggleEditChecklistItem($event, checklist.key, item, data)'>{{item.content}}</div>
                </mat-checkbox>
                <mat-checkbox *ngIf='item.isEditing' [checked]='item.checked' (change)='toggleChecklistItem($event, checklist.key, item, data)'><input #checklistInput (mouseenter)='focusChecklistInput($event)' class='dialog-checklist-item-input'  (focusout)='toggleEditChecklistItem($event, checklist.key, item, data)' (keyup)='changeChecklistItem($event, checklist.key, i, data, item)' [value]='item.content' /></mat-checkbox>
            </div>
            <button mat-flat-button *ngIf='checklist.title.content && !checklist.title.isEditing' (click)='addChecklistItem(checklist.key, data)'>Add Item</button>
        </div>

        <div *ngIf='data.attachedFiles.length' class='dialog-attachments'>
            <h4>Attached Files</h4>
            <div *ngFor='let file of data.attachedFiles; index as i' class='task-dialog-attachment-download'>
                <p>{{file.name}}</p>
            
                <a [download]='file.name' [href]='file.link' mat-icon-button><mat-icon>get_app</mat-icon></a>
            </div>
        </div>

        <div *ngIf='data.linkedTasks.length'>
            <h4>Linked Tasks</h4>
            <div *ngFor='let linkedKeys of data.linkedTasks; index as i'>
                <div class='linked-task' *ngIf='getLinkedTaskInfo(linkedKeys.taskKey, linkedKeys.boardKey, i) | async as value' (click)='openTaskDialog(value)'>{{value.body}}</div>
            </div>
        </div>

        <div class='editedAndCreated'>
            <h5>Last Edited: {{data.lastEdited}}</h5>
            <h5>Created on: {{data.dateCreated}}</h5>
        </div>
    </div>

    

    <div class='dialog-actions'>
        <div class='dialog-actions-button-wrapper'>                
            <button mat-raised-button (click)='changeTaskProperty("isComplete", !data.isComplete, false, data)'><mat-icon>check_circle</mat-icon>Complete</button>
            <button mat-raised-button (click)='openDialog("delete-dialog", data)'><mat-icon>delete</mat-icon>Delete</button>
        </div>
        <div class='dialog-actions-button-wrapper'>

            <mat-menu #iconMenu='matMenu'>
                <button mat-menu-item (click)='changeTaskProperty("important", !data.important, false, data)'><mat-icon aria-hidden="false">visibility</mat-icon>Important</button>
                <button mat-menu-item (click)='changeTaskProperty("warning", !data.warning, false, data)'><mat-icon aria-hidden="false">warning</mat-icon>Warning</button>
                <button mat-menu-item (click)='changeTaskProperty("payment", !data.payment, false, data)'><mat-icon aria-hidden="false">payment</mat-icon>Payment</button>
                <button mat-menu-item (click)='changeTaskProperty("vacation", !data.vacation, false, data)'><mat-icon aria-hidden="false">weekend</mat-icon>Vacation</button>
                <button mat-menu-item (click)='changeTaskProperty("social", !data.social, false, data)'><mat-icon aria-hidden="false">group</mat-icon>Social</button>
                <button mat-menu-item (click)='changeTaskProperty("work", !data.work, false, data)'><mat-icon aria-hidden='false'>work</mat-icon>Work</button>
                <button mat-menu-item (click)='changeTaskProperty("travel", !data.travel, false, data)'><mat-icon aria-hidden='false'>local_airport</mat-icon>Travel</button>
            </mat-menu>

            <mat-menu #colorMenu='matMenu'>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "red", false, data)'><mat-icon  style='color:red'>label</mat-icon>Red</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "yellow", false, data)'><mat-icon  style='color:yellow'>label</mat-icon>Yellow</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "blue",  false, data)'><mat-icon  style='color:blue'>label</mat-icon>Blue</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "green", false, data)'><mat-icon  style='color:green'>label</mat-icon>Green</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "purple", false, data)'><mat-icon  style='color:purple'>label</mat-icon>Purple</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "orange", false, data)'><mat-icon  style='color:orange'>label</mat-icon>Orange</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "", false, data)'>NONE</button>
            </mat-menu>

            <mat-menu #fontColorMenu='matMenu'>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "black", false, data)' style='color:black'>Black</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "firebrick", false, data)' style='color:firebrick'>Firebrick</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "goldenrod", false, data)' style='color:goldenrod'>Gold</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "steelblue", false, data)' style='color:steelblue'>Steel Blue</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "seagreen",  false, data)' style='color:seagreen'>Sea Green</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "plum", false, data)' style='color:plum'>Plum</button>
            </mat-menu>

            <mat-menu #labelMenu='matMenu'>
                <button mat-menu-item (click)='addLabel("red", data)'><mat-icon style='color:red'>view_day</mat-icon>Red</button>
                <button mat-menu-item (click)='addLabel("yellow", data)'><mat-icon style='color:yellow'>view_day</mat-icon>Yellow</button>
                <button mat-menu-item (click)='addLabel("blue", data)'><mat-icon style='color:blue'>view_day</mat-icon>Blue</button>
                <button mat-menu-item (click)='addLabel("green", data)'><mat-icon style='color:green'>view_day</mat-icon>Green</button>
            </mat-menu>

            <mat-menu #transferTaskMenu='matMenu'>
                <p></p>
            </mat-menu>
            
            <button mat-raised-button [matMenuTriggerFor]='iconMenu'><mat-icon>label</mat-icon>Tags</button>
            <button mat-raised-button [matMenuTriggerFor]='labelMenu'><mat-icon>view_day</mat-icon>Label</button>  
            <button mat-raised-button (click)='openDialog("date-pick-dialog", data)'><mat-icon>access_time</mat-icon>Due Date</button>
            
            <button mat-raised-button (click)='addChecklist(data)'><mat-icon>check_box</mat-icon>Checklist</button>
            <button mat-raised-button [matMenuTriggerFor]='colorMenu'><mat-icon>format_color_fill</mat-icon>Card Color</button>
            <button mat-raised-button [matMenuTriggerFor]='fontColorMenu'><mat-icon>format_color_text</mat-icon>Font Color</button>
        </div>
        <div class='dialog-actions-button-wrapper'>
            <button mat-raised-button (click)='openDialog("photo-dialog", data)'><mat-icon>add_a_photo</mat-icon>Photo</button>
            <button mat-raised-button (click)='openDialog("attachment-dialog", data)'><mat-icon>attach_file</mat-icon>Attachment</button>
        </div>
        <div class='dialog-actions-button-wrapper'>
            <button mat-raised-button (click)='openDialog("transfer-task-dialog", data)'><mat-icon>screen_share</mat-icon>Transfer Task</button>
            <button mat-raised-button (click)='openDialog("link_task_dialog", data)'><mat-icon>device_hub</mat-icon>Link Task</button>
            <button mat-raised-button (click)='archiveTask(data)'><mat-icon>archive</mat-icon>Archive Task</button>
        </div>
    </div>

</div>