<div class='dialog-wrapper' *ngIf='data$ | async as data'>
    <div class='dialog-title'>
        
        <dialog-title [data]='data'></dialog-title>

        <div class='due-date' *ngIf='data.dueDate'>
            <h4>Due {{data.dueDate | momentPipe:'fromNow'}} on {{data.dueDate | momentPipe:'format':'dddd, MMMM Do YYYY'}} </h4>
        </div>

        <icon-row [data]='data'></icon-row>

        <label-row [data]='data'></label-row>
        
    </div>

    <div class='dialog-exit'>
        <button mat-icon-button (click)='onCloseDialog(data)'>
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    
    <dialog-description [data]='data' [boardAndRowTitle]='boardAndRowTitle$ | async'></dialog-description>

    <dialog-comments [data]='data'></dialog-comments>

    <div class='dialog-other'>
        <h3>Other Stuff</h3>
        <div >
            <h4 *ngIf='data.displayImageUrls.length'>Display Image(s)</h4>
            <img *ngFor='let imageUrl of data.displayImageUrls' [src]='imageUrl' style='max-width:250px;max-height:250px;'/>
        </div>

        <dialog-checklist [data]='data'></dialog-checklist>

        <div *ngIf='data.attachedFiles.length' class='dialog-attachments'>
            <h4>Attached Files</h4>
            <div *ngFor='let file of data.attachedFiles; index as i' class='task-dialog-attachment-download'>
                <p>{{file.name}}</p>
            
                <a [download]='file.name' [href]='file.link' mat-icon-button><mat-icon>get_app</mat-icon></a>
            </div>
        </div>

        <div *ngIf='data.linkedTasks.length'>
            <h4>Linked Tasks</h4>
            <div *ngFor='let linkedKeys of data.linkedTasks; index as i'>
                <div class='linked-task' *ngIf='getLinkedTaskInfo(linkedKeys.taskKey, linkedKeys.boardKey, i) | async as value' (click)='openTaskDialog(value)'>{{value.body}}</div>
            </div>
        </div>

        <div class='editedAndCreated'>
            <h5>Last Edited: {{data.lastEdited}}</h5>
            <h5>Created on: {{data.dateCreated}}</h5>
        </div>
    </div>

    

    <div class='dialog-actions'>
        <div class='dialog-actions-button-wrapper'>                
            <button mat-raised-button (click)='changeTaskProperty("isComplete", !data.isComplete, false, data)'><mat-icon>check_circle</mat-icon>Complete</button>
            <button mat-raised-button (click)='openDialog("delete-dialog", data)'><mat-icon>delete</mat-icon>Delete</button>
        </div>
        <div class='dialog-actions-button-wrapper'> 
            <mat-menu #iconMenu='matMenu'>
                <button mat-menu-item (click)='changeTaskProperty("important", !data.important, false, data)'><mat-icon aria-hidden="false">visibility</mat-icon>Important</button>
                <button mat-menu-item (click)='changeTaskProperty("warning", !data.warning, false, data)'><mat-icon aria-hidden="false">warning</mat-icon>Warning</button>
                <button mat-menu-item (click)='changeTaskProperty("payment", !data.payment, false, data)'><mat-icon aria-hidden="false">payment</mat-icon>Payment</button>
                <button mat-menu-item (click)='changeTaskProperty("vacation", !data.vacation, false, data)'><mat-icon aria-hidden="false">weekend</mat-icon>Vacation</button>
                <button mat-menu-item (click)='changeTaskProperty("social", !data.social, false, data)'><mat-icon aria-hidden="false">group</mat-icon>Social</button>
                <button mat-menu-item (click)='changeTaskProperty("work", !data.work, false, data)'><mat-icon aria-hidden='false'>work</mat-icon>Work</button>
                <button mat-menu-item (click)='changeTaskProperty("travel", !data.travel, false, data)'><mat-icon aria-hidden='false'>local_airport</mat-icon>Travel</button>
            </mat-menu>
            <button mat-raised-button [matMenuTriggerFor]='iconMenu'><mat-icon>label</mat-icon>Tags</button>
            <mat-menu #labelMenu='matMenu'>
                <button mat-menu-item (click)='addLabel("red", data)'><mat-icon style='color:red'>view_day</mat-icon>Red</button>
                <button mat-menu-item (click)='addLabel("yellow", data)'><mat-icon style='color:yellow'>view_day</mat-icon>Yellow</button>
                <button mat-menu-item (click)='addLabel("blue", data)'><mat-icon style='color:blue'>view_day</mat-icon>Blue</button>
                <button mat-menu-item (click)='addLabel("green", data)'><mat-icon style='color:green'>view_day</mat-icon>Green</button>
            </mat-menu>
            <button mat-raised-button [matMenuTriggerFor]='labelMenu'><mat-icon>view_day</mat-icon>Label</button> 
            <button mat-raised-button (click)='openDialog("date-pick-dialog", data)'><mat-icon>access_time</mat-icon>Due Date</button>
            <button mat-raised-button (click)='addChecklist(data)'><mat-icon>check_box</mat-icon>Checklist</button>
            <mat-menu #colorMenu='matMenu'>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "red", false, data)'><mat-icon  style='color:red'>label</mat-icon>Red</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "yellow", false, data)'><mat-icon  style='color:yellow'>label</mat-icon>Yellow</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "blue",  false, data)'><mat-icon  style='color:blue'>label</mat-icon>Blue</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "green", false, data)'><mat-icon  style='color:green'>label</mat-icon>Green</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "purple", false, data)'><mat-icon  style='color:purple'>label</mat-icon>Purple</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "orange", false, data)'><mat-icon  style='color:orange'>label</mat-icon>Orange</button>
                <button mat-menu-item (click)='changeTaskProperty("cardColor", "", false, data)'>NONE</button>
            </mat-menu>
            <button mat-raised-button [matMenuTriggerFor]='colorMenu'><mat-icon>format_color_fill</mat-icon>Card Color</button>
            <mat-menu #fontColorMenu='matMenu'>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "black", false, data)' style='color:black'>Black</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "firebrick", false, data)' style='color:firebrick'>Firebrick</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "goldenrod", false, data)' style='color:goldenrod'>Gold</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "steelblue", false, data)' style='color:steelblue'>Steel Blue</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "seagreen",  false, data)' style='color:seagreen'>Sea Green</button>
                <button mat-menu-item (click)='changeTaskProperty("fontColor", "plum", false, data)' style='color:plum'>Plum</button>
            </mat-menu>
            <button mat-raised-button [matMenuTriggerFor]='fontColorMenu'><mat-icon>format_color_text</mat-icon>Font Color</button>
        </div>
        <div class='dialog-actions-button-wrapper'>
            <button mat-raised-button (click)='openDialog("photo-dialog", data)'><mat-icon>add_a_photo</mat-icon>Photo</button>
            <button mat-raised-button (click)='openDialog("attachment-dialog", data)'><mat-icon>attach_file</mat-icon>Attachment</button>
        </div>
        <div class='dialog-actions-button-wrapper'>
            <button mat-raised-button (click)='openDialog("transfer-task-dialog", data)'><mat-icon>screen_share</mat-icon>Transfer Task</button>
            <button mat-raised-button (click)='openDialog("link_task_dialog", data)'><mat-icon>device_hub</mat-icon>Link Task</button>
            <button mat-raised-button (click)='archiveTask(data)'><mat-icon>archive</mat-icon>Archive Task</button>
        </div>
    </div>

</div>