.row-wrapper{
    min-width:400px;
    
}
.row-action-button{
    margin-right:10px;
}
@media only screen and (max-width: 450px) {
    .row-wrapper{
        max-width: 100vw;
        min-width: 100vw;
    }
} 