<mat-expansion-panel 
    class='row-wrapper' 
    accordion='accordion' 
    (dragover)='onDragOver($event)' 
    (drop)='onDrop($event, rowData)'
    [expanded]='rowData.expanded' 
    (opened)='openRow()' 
    (closed)='closeRow()'
    [disabled]='isEditingTitle || isEditingDescription'
>
    <mat-expansion-panel-header>

        <mat-panel-title style='display: flex; flex-direction: column; justify-content: center;'>
            <span *ngIf='!isEditingTitle'>{{rowData.title}}</span>
            <form (submit)='submitTitle($event, rowData)' *ngIf='isEditingTitle'>
                <mat-form-field style='width:80%;'>
                    <input input-autofocus name='title' matInput (keyup)='editTitle($event, rowData)' [value]='rowData.title'/>
                </mat-form-field>
                <button mat-button>Save</button>
            </form>        
        </mat-panel-title>

        <mat-panel-description style='display: flex; flex-direction: column; justify-content: center;'>
            <span *ngIf='!isEditingDescription'>{{rowData.description}}</span>
            <form (submit)='submitDescription($event, rowData)' *ngIf='isEditingDescription'>
                <mat-form-field style='width:80%;'>
                    <input input-autofocus name='description' matInput (keyup)='editDescription($event, rowData)' [value]='rowData.description'/>
                </mat-form-field>
                <button mat-button>Save</button>
            </form>
        </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip='Shift row down' (click)='shiftRowDown(rowData)'><mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-icon-button matTooltip='Shift row up' (click)='shiftRowUp(rowData)'><mat-icon>keyboard_arrow_up</mat-icon></button>
    <button mat-icon-button matTooltip='Row Actions' [matMenuTriggerFor]='rowActions' ><mat-icon>more_vert</mat-icon></button>
    <button mat-icon-button matTooltip='Add Board' (click)='addBoard(rowData)' ><mat-icon>add</mat-icon></button>

    <mat-menu #rowActions='matMenu'>
        <button mat-menu-item (click)='toggleEditTitle()'><mat-icon>edit</mat-icon>Edit Title</button>
        <button mat-menu-item (click)='toggleEditDescription()'><mat-icon>edit</mat-icon>Edit Description</button>
        <button mat-menu-item (click)='archiveRow(rowData)'><mat-icon>archive</mat-icon>Archive Row</button>
        <button mat-menu-item (click)='deleteRow(rowData)'><mat-icon>delete</mat-icon>Delete Row</button>
    </mat-menu>

    <mat-divider></mat-divider>

    <board-list 
        [boards$]='boards$' 
    ></board-list>

</mat-expansion-panel>