<mat-expansion-panel 
    class='row-wrapper' 
    accordion='accordion' 
    (dragover)='onDragOver($event)' 
    (drop)='onDrop($event, rowData)'
    [expanded]='rowData.expanded' 
    (opened)='openRow()' 
    (closed)='closeRow()'
    [disabled]='isEditingTitle || isEditingDescription'
>
    <mat-expansion-panel-header>

        <mat-panel-title style='display: flex; flex-direction: column; justify-content: center;'>
            <span *ngIf='!isEditingTitle'>{{rowData.title}}</span>
            <form (submit)='submitTitle($event, rowData)' *ngIf='isEditingTitle'>
                <mat-form-field style='width:80%;'>
                    <input name='title' matInput (keyup)='editTitle($event, rowData)' [value]='rowData.title'/>
                </mat-form-field>
                <button mat-button>Save</button>
            </form>        
        </mat-panel-title>

        <mat-panel-description style='display: flex; flex-direction: column; justify-content: center;'>
            <span *ngIf='!isEditingDescription'>{{rowData.description}}</span>
            <form (submit)='submitDescription($event, rowData)' *ngIf='isEditingDescription'>
                <mat-form-field style='width:80%;'>
                    <input name='description' matInput (keyup)='editDescription($event, rowData)' [value]='rowData.description'/>
                </mat-form-field>
                <button mat-button>Save</button>
            </form>
        </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-divider style='margin-bottom:10px;'></mat-divider>

    
    

    <button mat-stroked-button class='row-action-button' (click)='addBoard(rowData)'>New Board <mat-icon>add</mat-icon></button>
    <button mat-stroked-button class='row-action-button' [matMenuTriggerFor]='rowActions'>Row Actions</button>
    
    <mat-menu #rowActions='matMenu'>
        <button mat-menu-item (click)='toggleEditTitle(rowData)'>Edit Title</button>
        <button mat-menu-item (click)='toggleEditDescription(rowData)'>Edit Description</button>
        <button mat-menu-item (click)='archiveRow(rowData)'>Archive Row</button>
        <button mat-menu-item (click)='deleteRow(rowData)'>Delete Row</button>
    </mat-menu>

    <button mat-icon-button matTooltip='Shift row down' (click)='shiftRowDown(rowData)'><mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-icon-button matTooltip='Shift row up' (click)='shiftRowUp(rowData)'><mat-icon>keyboard_arrow_up</mat-icon></button>
    

    <div #scrollRow class='home_div' (dragover)='onMouseEnter($event)' (dragleave)='onMouseLeave($event)'>
        <div *ngFor='let board of boards$ | async'>
            <board class='board' [boardKey]='board.key' [boardTitle]='board.title' (autoScroller)='autoScroller($event)'></board>
        </div>
    </div>

</mat-expansion-panel>