.row-wrapper{
    min-width:400px;
    color:black;
}
.row-wrapper input.mat-input-element, .row-wrapper button.mat-button, .row-wrapper mat-panel-description{
    color:black;
}
.row-action-button{
    margin-right:10px;
}
@media only screen and (max-width: 450px) {
    .row-wrapper{
        max-width: 100vw;
        min-width: 100vw;
    }
} 