.photo-upload-content{
    display:flex;
    flex-direction: column;
    overflow-y:auto; 
    max-height:50vh;
}

.exit-row{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.imageBlock-holder{
    display:flex; 
    flex-direction: column;
}

.imageBlock{
    position: relative;
    max-width:500px;
}
.imageBlock img{
    max-width:500px;
}

.imageBlock button{
    position: absolute;
    right:0px;
    top:0px;
    transition:0.5s;
}

.imageBlock button:hover{
    background-color:#3F51B5;
    transition:0.5s;
}

input{
    margin-top: 10px;
}
