<mat-card class='form-wrapper'>
    <h2>Enter recovery code and new password</h2>

    <form>
        <mat-form-field>
            <input (change)='changeValue("recoveryCode", $event)' matInput placeholder='Recovery Code' />
        </mat-form-field>
    
        <mat-form-field>
            <input (change)='changeValue("password", $event)' matInput placeholder='New Password' type='password' />
        </mat-form-field>

        <mat-form-field>
            <input (change)='changeValue("confirmPassword", $event)' matInput placeholder='Confirm New Password' />
        </mat-form-field>
    
        <button mat-flat-button color='primary'>Change password</button>
    </form>

</mat-card>