<mat-card class='form-wrapper'>
    <h2>Login</h2>

    <form (submit)='login($event)'>
        <mat-form-field>
            <input (change)='changeValue("username", $event)' matInput placeholder='Username' />
        </mat-form-field>
    
        <mat-form-field>
            <input (change)='changeValue("password", $event)' matInput placeholder='Password' type='password' />
        </mat-form-field>
    
        <button mat-flat-button color='primary'>Login</button>
    </form>

    <button (click)='navTo("/forgot-password")' mat-button>FORGOT PASSWORD</button>
    
</mat-card>